<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  {% if template == "product" %} 
  {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
  {{ 'default-skin.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'application.css' | asset_url | stylesheet_tag }}
  
</head>
<body class="h-screen flex flex-col">
  {% render 'header' %}

  <main role="main" class="flex-grow">
    {% render 'breadcrumb' %}
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {{ 'swiper-bundle.min.js' | asset_url | script_tag }}
  {% if template == "product" %} 
  {{ 'photoswipe.min.js' | asset_url | script_tag }}
  {{ 'photoswipe-ui-default.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'application.js' | asset_url | script_tag }}
</body>
</html>
